/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --footer-bg-color: #2F303A;
  --main-color: #FFFFFF;
  --secondary-bg-color: #F5F4FA;
  --background: #F5F5F5;
  --trans-text-color: rgba(255, 255, 255, .6);
  --logo-color: #000000;
  --border-header: #ECECEC;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2,
h3,
h4 {
  color: var(--title-text-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.main {
  background-color: var(--main-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  fill: currentColor;
}

.link {
  color: var(--logo-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 24px;
}

.header_logo {
  color: var(--accent-color);
}

.footer_logo {
  color: var(--main-color);
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200) {
  .footer_logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--main-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  outline: 1px solid transparent;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), outline 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .btn {
    padding: 10px 32px;
  }
}
.btn:hover, .btn:focus {
  box-shadow: 0px 4px 4px hwb(0 100% 0%/0.15);
  outline: 1px solid var(--main-color);
}

.section-list .section-btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-btn {
  background-color: var(--background);
  color: var(--title-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}
.section-btn:hover, .section-btn:focus, .section-btn:active {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-default {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
}
.submit-btn:hover, .submit-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: 1px solid var(--accent-color);
}

.footer_btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section_container {
  padding: 0px 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
@media screen and (min-width: 480px) {
  .section_container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section_container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section_container {
    width: 1200px;
  }
}

.section_wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section_wrapper {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-portfolio {
  padding: 94px 0;
}

.section-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .section-item {
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-list:nth-child(3) {
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.header {
  border-bottom: 1px solid var(--border-header);
}

.header_container {
  display: flex;
  align-items: center;
}

.header_link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_link--focus {
  color: var(--accent-color);
}
.header_link--line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -32px;
  left: 0;
  opacity: 1;
}

.header_nav {
  margin-left: 93px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.header_menu {
  display: none;
}
@media (min-width: 768px) {
  .header_menu {
    display: flex;
  }
}

.header_item {
  display: block;
  position: relative;
}
.header_item:not(:last-child) {
  margin-right: 50px;
}

.header_link--accent {
  color: var(--title-text-color);
}
.header_link--accent:hover, .header_link--accent:focus {
  color: var(--accent-color);
}

.header_link--primary {
  color: var(--primary-text-color);
}
.header_link--primary:hover, .header_link--primary:focus {
  color: var(--accent-color);
}

.header_menu--position {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header_menu--position {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header_item--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}
@media screen and (max-width: 1199px) {
  .header_item--flex:nth-child(1) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header_item--flex:not(:last-child) {
    margin-right: 50px;
  }
}

.header_icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle .icon__menu {
  display: block;
}
.menu-toggle.js-open-menu .icon__cross {
  display: none;
}
.menu-toggle.js-close-menu .icon__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--accent-color);
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--main-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu__position {
  margin-top: auto;
}
.mobile-menu .link-mobile {
  display: block;
  padding: 10px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .link-mobile.link-mobile__focus {
  color: var(--accent-color);
}
.mobile-menu .link-mobile:focus, .mobile-menu .link-mobile:hover {
  color: var(--accent-color);
}
.mobile-menu .mobile-contact {
  display: block;
  padding: 10px;
}

.mobile-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mobile-socials {
  padding: 10px;
  list-style: none;
  display: flex;
  margin-top: 40px;
  position: relative;
}

.mobile-sites__line > a::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  border-radius: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 10px;
  left: 105px;
}

.mobile-sites:not(:last-child) {
  margin-right: 20px;
}

.mobile-sites > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  max-width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Header/img/480.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(../img/mobile/Header/img@2x/480.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../img/tab/Header/M/img/768.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(../img/tab/Header/M/img@2x/768.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../img/laptop/header/Img/1200.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(../img/laptop/header/Img@2x/1200.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

.hero_title {
  color: var(--main-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6153846154;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
.hero_title--focus {
  -webkit-animation: hero_title--focus 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: hero_title--focus 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.hero_btn {
  -webkit-animation: hero_btn 4s ease-in-out infinite both;
          animation: hero_btn 4s ease-in-out infinite both;
}

.advantage {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .advantage {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .advantage {
    width: 100%;
    flex-wrap: wrap;
  }
}

.advantage_item {
  width: 450px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantage_item {
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .advantage_item {
    width: 270px;
    height: 120px;
  }
}

.advantage-wrapper__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 226px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  gap: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .advantage-wrapper__icon {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-wrapper__icon {
    width: 270px;
    height: 120px;
  }
}

.advantage_text {
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}

.advantages_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .advantages_title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .section_activity {
    display: none;
  }
}

.activity_title {
  margin-top: 0;
  margin-bottom: 50px;
}

.activity {
  display: flex;
  gap: 30px;
}

.activity_item {
  position: relative;
}

.activity_label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
}

.team {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.team_title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
}
@media screen and (min-width: 1200px) {
  .team_title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team_section {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .team_section {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .team_section {
    width: 100%;
    flex-wrap: wrap;
  }
}

.user {
  background-color: var(--main-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 450px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .user {
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .user {
    width: 270px;
    height: auto;
  }
}

.user_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0px 0px 16px 0px;
}

.user_wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.user_name {
  margin: 0;
  margin-bottom: 10px;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .clients {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .clients {
    width: 100%;
  }
}

.clients_title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
}
@media screen and (min-width: 1200px) {
  .clients_title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  width: 210px;
  height: 92px;
  border: 1px solid currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .clients_link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients_link {
    width: 170px;
  }
}
.clients_link:hover {
  color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio_border {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio_border {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_border {
    width: 370px;
  }
}

.portfolio-img {
  padding: 20px 24px;
  border: 1px solid var(--border-header);
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: currentColor;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.portfolio-link:hover .overlay-portfolio,
.portfolio-link:focus .overlay-portfolio {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.overlay-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(33, 150, 243, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color);
  position: absolute;
  line-height: 28px;
  padding: 20px 24px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 450px;
  min-height: 609px;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
    min-height: 580px;
  }
}

.modal-sign {
  fill: currentColor;
}

.modal-group {
  margin-bottom: 10px;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-name {
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200) {
  .modal-name {
    line-height: 1.2;
  }
}

.modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden.modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-60%);
}

.wrapper-input {
  width: 100%;
  position: relative;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus {
  outline: 1px solid #2196F3;
}

.input-form:focus + .modal-icon {
  fill: #2196F3;
}

.comments {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  display: block;
  outline: 1px solid transparent;
  outline-offset: -1px;
  background-color: #FFFFFF;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comments:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comments:focus {
  outline: 1px solid #2196F3;
  color: var(--title-text-color);
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.agreement-title {
  font-size: 12px;
  line-height: 1.72;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .agreement-title {
    font-size: 14px;
  }
}

.agreement-form {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 0;
  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), background-size 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-form:checked {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: 11px 8px;
}

.agreement-link {
  color: var(--accent-color);
}

@-webkit-keyframes hero_btn {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes hero_btn {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes hero_title--focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes hero_title--focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.footer {
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: flex-start;
  padding: 60px 0;
}

.footer_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer_container {
    align-items: baseline;
  }
}

.footer--transform {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer--transform {
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer--transform {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer_address {
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer_address {
    gap: 20px;
  }
}

.footer > .link {
  color: var(--main-color);
}

.footer_nav {
  display: inline-block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
  line-height: 1.71;
}

.footer_map {
  color: var(--main-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer--accent:hover,
.footer--accent:focus {
  color: var(--accent-color);
}

.footer_link {
  color: var(--trans-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_subscribe {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer_subscribe {
    margin-bottom: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer_subscribe:nth-last-child(2) {
    margin-right: auto;
  }
}

.footer_title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer_section--advance {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  color: #AFB1B8;
}
.footer_section--advance:hover, .footer_section--advance:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.footer_icon {
  fill: var(--main-color);
}

.footer_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 480px) {
  .footer_wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer_wrapper {
    justify-content: center;
    flex-direction: row;
    gap: 12px;
  }
}

.footer_label {
  margin: 0;
}

.footer_input {
  width: 360px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color);
  font-size: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer_input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer_input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer_input:focus {
  border-color: rgba(255, 255, 255, 0.6);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle .icon__menu {
  display: block;
}
.menu-toggle.js-open-menu .icon__cross {
  display: none;
}
.menu-toggle.js-close-menu .icon__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--accent-color);
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--main-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu__position {
  margin-top: auto;
}
.mobile-menu .link-mobile {
  display: block;
  padding: 10px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .link-mobile.link-mobile__focus {
  color: var(--accent-color);
}
.mobile-menu .link-mobile:focus, .mobile-menu .link-mobile:hover {
  color: var(--accent-color);
}
.mobile-menu .mobile-contact {
  display: block;
  padding: 10px;
}

.mobile-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mobile-socials {
  padding: 10px;
  list-style: none;
  display: flex;
  margin-top: 40px;
  position: relative;
}

.mobile-sites__line > a::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  border-radius: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 10px;
  left: 105px;
}

.mobile-sites:not(:last-child) {
  margin-right: 20px;
}

.mobile-sites > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */