.section_activity{
    @media screen and (max-width: 1199px) {
        display: none;    
    }
}

.activity_title {
    margin-top: 0;
    margin-bottom: 50px;
}

.activity {
    display: flex;
    gap: 30px;
}

.activity_item {
    position: relative;
}

.activity_label {
    @include flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--main-color);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
}