.footer {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: flex-start;
    padding: 60px 0;
}

.footer_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
        }

    @media screen and (min-width: 1200px) {
            align-items: baseline;
        }
}

.footer--transform {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 480px) and (max-width:1199px) {
        margin-bottom: 60px;
        text-align: center;
        align-items: center;
        }
    
 

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0;
    }
}


.footer_address {

    font-style: normal;

    @media screen and (min-width: 1200px){
        
        gap: 20px;
            
    }
}

.footer>.link {
    color: var(--main-color);
}

// .footer_logo{
//     display: flex;
// }

.footer_nav {
    display: inline-block;
}


.footer-item:not(:last-child) {
    margin-bottom: 9px;
    line-height: 1.71;
}

.footer_map {
    color: var(--main-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer--accent:hover,
.footer--accent:focus {
    color: var(--accent-color);
}

.footer_link {
    color: var(--trans-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer_subscribe{
    display: flex;
    flex-direction: column;
    

    @media screen and (min-width: 480px) and (max-width: 1199px){
    margin-bottom: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

    
}


.footer_subscribe:nth-last-child(2) {
    @media screen and (min-width: 1200px) {
    margin-right: auto;
    }

}

.footer_title {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_section {
    @include flex;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 10px;

    &--advance {
            @include flex;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 44px;
    height: 44px;
    color: #AFB1B8;

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--main-color);

}
}
}






.footer_icon {
    fill: var(--main-color);
}

.footer_wrapper {
    
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 480px) {
            flex-direction:column;
        }

        @media screen and (min-width: 1200px) {
            justify-content: center;
            flex-direction: row;
            gap: 12px;
        }
}

.footer_label {
    margin: 0;
   
    
}

.footer_input {
    width: 360px;
    height: 50px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--main-color);
    font-size: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

    &:focus {
    border-color: rgba(255, 255, 255, 0.6);
}
}





