.header {
    border-bottom: 1px solid var(--border-header);
}

.header_container {


    display: flex;
    align-items: center;
    
}

.header_link {
    @include flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--focus {
    color: var(--accent-color);
}
    &--line::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: -32px;
        left: 0;
        opacity: 1;
    }
}


.header_nav {

    @media screen and (min-width: 480px) and (max-width:767px) {
        display: none;
        }
    margin-left: 93px;
}

.header_menu {
    display: none;

        @media (min-width: 768px) {
        display: flex;
        }
    
}

.header_item {
    display: block;
    position: relative;

    &:not(:last-child) {
    margin-right: 50px;
}
}



.header_link--accent {
    color: var(--title-text-color);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}



.header_link--primary {
    color: var(--primary-text-color);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}



.header_menu--position {
    margin-left: auto;
}

.header_item--flex {
    @include flex;
    // display: flex;
    // align-items: center;

    &:not(:last-child) {
    margin-right: 50px;
}
}



.header_icon {
    margin-right: 10px;
    fill: currentColor;
}