.hero {
    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--footer-bg-color);
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, .4),
            rgba(47, 48, 58, .4)), 
            url(../img/mobile/Header/img/480.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .hero {
                background-image: url(../img/mobile/Header/img@2x/480.jpg);
            }
        }

        @media screen and (min-width:480px){
            background-image: url(../img/tab/Header/M/img/768.jpg);
            
            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    .hero {
                        background-image: url(../img/tab/Header/M/img@2x/768.jpg);
                    }
                }
        }


                @media screen and (min-width:768px) {
                    background-image: url(../img/laptop/header/Img/1200.jpg);
        
                    @media screen and (min-device-pixel-ratio: 2),
                    screen and (min-resolution: 192dpi),
                    screen and (min-resolution: 2dppx) {
                        .hero {
                            background-image: url(../img/laptop/header/Img@2x/1200.jpg);
                        }
                    }
                }
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;


    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        height: 600px;
    }
}

.hero_title {
    color: var(--main-color);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 26px;
    line-height: calc(42/26);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 360px;
    
    


       @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;

        }

    &--focus {
    animation: hero_title--focus 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
}


.hero_btn {
    animation: hero_btn 4s ease-in-out infinite both;
;

    
}