.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.portfolio_border {
    width: 450px;

    @media screen and (min-width: 768px) {
            width: 354px;
        }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.portfolio-img {
    padding: 20px 24px;
    border: 1px solid var(--border-header);

}

.portfolio-link {
    display: block;
    text-decoration: none;
    color: currentColor;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &:hover,
        &:focus {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
}

.portfolio-link:hover .overlay-portfolio,
.portfolio-link:focus .overlay-portfolio {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-cover {
    position: relative;

    overflow: hidden;

}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 4px;
}

.portfolio-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;
}

