.user {
    background-color: var(--main-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    width: 450px;
    gap: 30px;
        
    @media screen and (min-width: 768px) {
    width: 354px;
    height: auto;
    }
        
    @media screen and (min-width: 1200px) {
    width: 270px;
    height: auto;
}
}



.user_label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin: 0px 0px 16px 0px;
}

.user_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.user_name {
    margin: 0;
    margin-bottom: 10px;
}

